<table class= "table-style">
  <thead>
    <tr>
      <th style="width: 15%">投稿者</th>
      <th style="width: 65%">投稿内容</th>
      <th style="width: 20%">投稿日時</th>
    </tr>
  </thead>
  <tbody>
  <% chats.each do |chat| %>
  <tr>
    <td> <%= chat.user.name %></td>
    <td> <%= chat.message %></td>
    <td> <%= chat.created_at.strftime("%-m月%-d日(%a)  %H:%M") %></td>
  </tr>
  <% end %>
  </tbody>
</table>