<table class="table table-bordered text-center month_table  mb-2">
  <h5 class ="mb-3 text-left"><i class="fas fa-table fa-2x"></i>今月のカロリーバランス(kcal)</h5>
    <tr height="100">
      <th width="150">今月の合計</th>
      <th width="150">今月の体重増減<br>(理論値)</th>
    </tr>
    <tr>
      <!--=====今月のカロリーバランスの合計=====-->
      <td><%= month_sum %></td>
      <!--=====今月の体重の増減（理論値）=====-->
      <td><%= month_sum_weight %> kg</td>
    </tr>
</table>