<table class="table table-bordered table_week mb-4">
  <h5 class ="mb-3 text-left table-title"><i class="fas fa-table fa-2x"></i> 今週のカロリーバランス(kcal)</h5>
    <thead>
      <tr height="100">
        <th>日曜日</th>
        <th>月曜日</th>
        <th>火曜日</th>
        <th>水曜日</th>
        <th>木曜日</th>
        <th>金曜日</th>
        <th>土曜日</th>
        <th width="150" >今週の合計</th>
        <th width="150">体重増減<br>(理論値)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!--=====今週のカロリーバランス=====-->
        <%  @cal_balances.each do |cal_balance| %>
          <td><%= cal_balance %></td>
        <% end %>
        <!--=====今週のカロリーバランスの合計=====-->
        <td><%= week_sum.to_s(:delimited) %></td>
        <!--=====今週の体重の増減（理論値）=====-->
      <td class = "color"><%= @week_sum_weight %> kg</td>
      </tr>
    </tbody>
</table>
