  <div class="menu">
    <div class="menu-title">摂取カロリー早見表(kcal)<br>
      <span>※記載のカロリーは1人分です。（出典：女子栄養大学出版部）</span><br>
      <span>カーソルを当てて下さい。</span>
    </div>
    <div class="sub-menu">
      <ul>
        <li><a>ご飯1膳軽盛り（100g）	168</a></li>
        <li><a>ご飯1膳普通盛り（140g）	235</a></li>
        <li><a>食パン1枚（6枚切り）	177</a></li>
        <li><a>カツ丼	893</a></li>
        <li><a>親子丼	731</a></li>
        <li><a>牛丼	909</a></li>
        <li><a>生姜焼き定食	789</a></li>
        <li><a>ブリの照り焼き定食	646</a></li>
        <li><a>刺身定食	489</a></li>
        <li><a>天ぷらそば	459</a></li>
        <li><a>きつねうどん	382</a></li>
        <li><a>焼きそば	570</a></li>
        <li><a>お好み焼き	553</a></li>
        <li><a>たこやき	270</a></li>
        <li><a>スパゲッティ ミートソース	597</a></li>
        <li><a>スパゲッティ カルボナーラ	830</a></li>
        <li><a>ハンバーガー	300</a></li>
        <li><a>フライドポテト（S）	194</a></li>
        <li><a>チキンカレー	690</a></li>
        <li><a>ラーメン	443</a></li>
        <li><a>チャーハン	754</a></li>
        <li><a>ギョーザ	423</a></li>
        <li><a>肉マン	201</a></li>
      </ul>
    </div>
  </div>