<div class="menu">
 <h6 class="text-center">摂取カロリー早見表</h6>
  <table class="table table-bordered table-lightyellow text-center">
   <thead bgcolor="#fffacd">
     <th style="width: 25%, height: 10px">メニュー</th>
     <th style="width: 25%">カロリー(Kcal)</th>
     <th style="width: 25%">メニュー</th>
     <th style="width: 25%">カロリー(Kcal)</th>
   </thead>
   <tbody>
     <tr>
       <td>ごはん1杯(140g)</td>
       <td>235</td>
        <td>食パン1枚</td>
       <td>177</td>
     </tr>
     <tr>
       <td>カツ丼</td>
       <td>893</td>
       <td>ハンバーガー</td>
       <td>300</td>
     </tr>
     <tr>
       <td>牛丼</td>
       <td>909</td>
       <td>フライドポテト(S)</td>
       <td>194</td>
     </tr>
     <tr>
       <td>生姜焼き定食</td>
       <td>789</td>
       <td>ラーメン</td>
       <td>443</td>
     </tr>     
     <tr>
       <td>鶏の照焼定食</td>
       <td>776</td>
       <td>冷やし中華</td>
       <td>467</td>
     </tr>
     <tr>
       <td>かつカレー</td>
       <td>843</td>
       <td>チャーハン</td>
       <td>754</td>
     </tr>
     <tr>
       <td>オムライス</td>
       <td>235</td>
       <td>ギョーザ</td>
       <td>423</td>
     </tr>
     <tr>
       <td>ハンバーグ</td>
       <td>437</td>
       <td>シュークリーム</td>
       <td>209</td>
     </tr>
     <tr>
       <td>サーロインステーキ</td>
       <td>805</td>
       <td>アイスクリーム</td>
       <td>196</td>
     </tr>
     <tr>
       <td>ロールキャベツ</td>
       <td>264</td>
       <td>たいやき</td>
       <td>211</td>
     </tr>
   </tbody>
   </table>
</div>