// Place all the styles related to the cal_consumptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cal_consumption-label {
  font-size: 25px;
  font-weight: bold;
}

.cal_consumption-num,.plus {
  font-size: 50px;
  font-weight: bold;
}

p.cal_consumption-text {
    font-size: 15px;
    font-weight: bold;
}

#cal_consumption_cal_consumption {
    margin-bottom: 0.5rem !important;
    font-weight: 400;
    line-height: 3;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-color: #7FCCE3;
}

element.style {
    font-size: 30px;
}

select {
    word-wrap: normal;
    height: 60px;
    width: 250px;
    text-align: center;
}