// Place all the styles related to the cal_balances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datetime {
  font-size: 55px;
  font-weight: bold;
}

.datetime-p {
  font-size: 10px;
}

.datetime-f {
  font-size: 30px;
}

.cal_balance-num {
  font-size: 50px;
  font-weight: bold;
}

.cal_ingestion,.cal_consumption,.cal_balance {
  font-size: 45px;
  font-weight: bold;
}

.cal-ingestion-num {
  font-size: 45px;
  font-weight: bold;
}

.cal-consumption-num {
  font-size: 45px;
  font-weight: bold;
}

.cal_consumption-num-p, .cal_ingestion-num-p {
  font-size: 20px;
  font-weight: bold;
}

.edit-link {
  color: 	#808080;
  font-size: 25px;
  font-weight: 1200;
}


@media (max-width:576px) {
  .cal_balance_date {
    font-size: 30px;
  }
}