// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar table {
  background-color: #fff;
}

.simple-calendar .day {
    height: 100px;
}

.calendar-date {
  font-size: 20px;
}

.cal-balance-num{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
.calendar-heading {
  text-align: center;
    font-size: 45px;
}

.cal_balance {
  text-align: center;
  font-size: 25px;
}

.unit {
  font-size: 20px;
  text-align: right;
}

@media screen and (max-width: 576px) {
  .calendar-date {
  font-size: 8px;
  }
  
  .cal-balance-num{
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  margin-top: 15px;
  }
  .simple-calendar {
    font-size: 10px;
  }

  .calendar-heading {
    font-size: 20px;
  }

  .unit {
  font-size: 10px;
}

}