// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar table {
  background-color: #fff;
}

.calendar-heading{
  text-align: center;
    font-size: 45px;
}