// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar table {
  background-color: #fff;
}

.calendar-heading {
  text-align: center;
    font-size: 45px;
}

.cal_balance {
  text-align: center;
  font-size: 25px;
}

.unit {
  font-size: 20px;
  text-align: right;
}

@media screen and (max-width: 910px) {
  .simple-calendar,.cal-balance-num {
    font-size: 10px;
  }

  .calendar-heading {
    font-size: 20px;
  }

  .unit {
  font-size: 10px;
}

}