// Place all the styles related to the data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.weight,.cal {
  font-size: 25px;
}

.cal-text {
  font-weight: bold;
  color: #333333;
}

.table-bordered {
  font-size: 15px;
  font-weight: bold
}

.chartjs-render-monitor {
  background-color: #fff;
}

#main-a-visual {
  height: 100%;
  background-image: image-url("ian-dooley-DuBNA1QMpPA-unsplash.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-left {
  font-size: 30px;
  font-weight: bold
}

@media screen and (max-width: 910px) {
  .table_week tr td,
  .table_week tr th {
    border-left: none;
    display: block;
    height: 50px;
    width: 150px;
  }
  .table_week thead {
    display: block;
    float: left;
  }

  .table_week tbody {
    display: block;
    float: left;
  }

  .table_week tr td + td {
    border-left: none;
  }
  .table_week tbody td:last-child {
    border-bottom: solid 1px #ccc;
  }
  .table-title {
    font-size: 20px;
  }

  .cal-text {
    font-size: 15px;
  }
  .table-color, .table-bordered {
    background-color: #fff;
    margin: auto;
    font-size: 10px;
  }
}
