// Place all the styles related to the data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weight,.cal {
  font-family: “irohamaru-Medium”;
  font-size: 25px;
  font-weight: bold;
}

.table-bordered {
  font-family: “irohamaru-Medium”;
  font-size: 15px;
  font-weight: bold
}

.chartjs-render-monitor {
  background-color: #fff;
}

#main-a-visual {
  height: 100;
  background-image: image-url("ian-dooley-DuBNA1QMpPA-unsplash.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}