html {
  font-size: 100%;
}

#main-top-visual {
  height: 100vh;
  background-image: image-url("boxed.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img-wrapper{
  animation-name:fadeInAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.img-wrapper p {
  position: absolute;
  color: 	#333333;
  top: 300px;
  left: 25px;
  display: inline;
	background-image: linear-gradient(rgba(0,0,0,0) 70%, #000099 70%);
  font-size: 40px;
  font-weight: bold;
  }

#main-login-visual {
  height: 130vh;
  background-image: image-url("elcarito-MHNjEBeLTgw-unsplash.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width:800px){
  .img-wrapper p {
    position: absolute;
    color: 	#333333;
    top: 300px;
    left: 25px;
    display: inline;
  	background-image: linear-gradient(rgba(0,0,0,0) 70%, #000099 70%);
    font-size: 20px;
    font-weight: bold;
  }
}