// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
    height: 50px;
}

.font-large {
  font-size: 1.5rem;
}

table {
  width: 60%;
}