<footer class="bg-light mx-auto pt-4 pb-3 shadow-sm">
  <div class="container text-center">
    <p class="text-secondary small">Copyrights ©︎sakasegawajunki. All Rights Reserved.</p>
  </div>
</footer>